#sqrl {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem;
    border-radius: .4rem;
    
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-decoration: none;
    line-height: 1.6rem;

    background: #007cc3;
    color: white;
    -webkit-transition: background-color .3s; /* Safari */
    transition: background-color .3s;
    overflow: hidden;
}

#sqrl:hover {
    background: #006ead;
}

#sqrl img {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: .4rem;
}